.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.349);
}

.container {
    position: absolute;
    width: 50vw;
    height: 70vh;    
    border-radius: 25px;
    overflow: hidden;
    border: 2px solid #00fff7;
    background-color: #0a1e31;
}

#cover{
    transition: 0.5s;
    width: 50%;
    height: 100%;
    left: 50%;
    background-color: #0a1e31;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    overflow-y: scroll;
    max-height: 100%;
    min-height: 100%;
    min-width: 50%;
    max-width: 50%;
    float: left;
}








/* adasdasdas sdfasfasfsdaaaaaaaaaaaaaaa8 */
/* Add padding to containers */
.form-content {
    max-width: 100%;
    overflow-x: hidden;
    padding: 10px;
    color: #ffffff;
    background-color: #0a1e31;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    transition: 0.5s;
    width: 90%;
    padding: 15px;
    margin: 5px 30px 22px 0;
    display: inline-block;
    background: #0a1e31;
    color: #bcbcbc;
    border: none;
    border-bottom: 2px solid #ffffff;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #0a1e31;
    outline: none;
    border-bottom: 2px solid #00fff7;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #c100c1;
    color: #bcbcbc;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}


#change-site{
    background-color: #c100c1;
    color: white;
    padding: 16px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
}

#change:hover {
    opacity: 1;
}