




.row
{
  background-color:#0a1e31;
}

.col
{
  float: left;
  padding: 10px;
}

.left
{
  font-size: 30px;
  width: 10%;
}

.left a, .right a
{
  text-decoration: none;
  color:#bcbcbc;
  font-size: 20px;
}

hr
{
  border-color:#00fff7;
}

.lumn
{
  width: 1%;
}

.right
{
  font-size: 0px;
  text-align: center;
  width: 49%;
}

.row:after
{
  content: "";
  display: table;
  clear: both;
}

.banner
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/bannerbg.png");
  top: 0;
  left: 0;
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}

.txt
{
  padding: 20px;
  position: relative;
  text-align: center;
  vertical-align: center;
}

footer
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/bannerbg.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foot
{
  text-align: center;
  display: flex;
}

.char
{
  width: 100%;
  flex-direction: column;
}

.box
{
  background:linear-gradient(90deg, hsl(270 100% 50%), hsl(300 100% 50%), cyan);
  aspect-ratio: 20/8;
  width: 3800px;
  border-radius: 10px;
  margin-top: 20px;
}

.socialinfo
{
  font-size: 25px;
}


@media (max-width: 800px)
{
  .char, .box
  {
    flex: 100%;
  }
}

.txttop
{
  padding-top: 20px;
  font-size: 20px;
}

.socials
{
  padding-top: 20px;
  columns: 4;
}


.txtbottom
{
  margin-top: 80px;
  text-align: center;
}

#login-form
{
  position: fixed; 
  top: 0; 
  left: 0; 
  border: 0; 
  z-index: 7; 
  width: 100%; 
  min-height: 100%; 
  transition: 0.5s;
  display: none;
}