@font-face {
  font-family: roblox;
  src: url(../media/font/RollboxMedium-JRxYB.ttf);
}

* {
  box-sizing: border-box;
}

:root {
  --dark: #34495E;
  --light: #ffffff;
  --success: #0ABF30;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info: #3498DB;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: roblox;
}

#login-form {
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  z-index: 7;
  width: 100%;
  min-height: 100%;
  transition: 0.5s;
  display: none;
}

body {
  min-height: 100vh;
  background-color: #485855;
}


* {
  font-family: roblox;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white
}


body {
  min-height: 100vh;
  background-color: #485855;
}


header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  padding: 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

header .logo {
  font-weight: bolder;
  font-size: 25px;
  height: 100%;
  color: white;
  display: flex;
}

header img {
  height: 100px;
}

header .navbar ul {
  list-style: none;
  min-height: 100%;
}

header .navbar ul li {
  position: relative;
  float: left;
  height: 100%;
}

header .navbar ul li a {
  font-size: 15px;
  padding: 20px;
  color: white;
  display: block;
  width: 130px;
  text-align: center;
}

header .navbar ul li a:hover {
  color: #0088a9;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 150px;
  background-color: black;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
}

header .navbar ul li ul li ul {
  left: 150px;
  top: 0;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  cursor: pointer;
  font-size: 2rem;
  display: none;
}

#play{
  color: white;
  border-radius: 40px;
  background-color: #0088a9;
  padding: 2% 5%;
}
#play:hover{
  background-color: #006c86;
}

.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #00ffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #00ffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	background-color: #00ffff;
  color: #00ffff;
}








/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media (max-width : 1200px) {
  header {
    padding: 30px 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: black;
    display: none;
  }

  header .navbar ul li {
    width: 100%;
  }

  header .navbar ul li a {
    width: 100%;
    text-align: left;
  }

  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }

  header .navbar ul li ul li {
    background-color: black;
  }

  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }

  header img {
    height: 75px;
  }

  #menu-bar:checked~.navbar {
    display: initial;
  }

  #banner-label {
    font-size: 50px;
  }
}

#chat-bubble-toggle {
  position: fixed;
  width: 60px;
  right: 10px;
  bottom: 10px;
  transition: 1s;
  cursor: pointer;
  z-index: 15;
}

#chat-bubble-toggle:hover {
  transform: scale(1.3);
}

#chat-toggle-check{
  display: none;
}


#chat-toggle-check:checked ~ * #chat-bubble-toggle{
  right: 350px;
}

#chat-bubble {
  display: block;
  position: fixed;
  bottom: 10px;
  right: -330px;
  border: cyan solid 3px;
  z-index: 10;
  width: 330px;
  height: 500px;
  transition: 1s;
  border-radius: 10px;
}

#chat-toggle-check:checked ~ #chat-bubble{
  right: 10px;
}

@media (max-width: 410px){
  #chat-toggle-check:checked ~ * #chat-bubble-toggle{
    bottom: 540px;
    right: 20px;
  }
}

#toast-box{
  position: fixed;
  right: 30px;
  top: 30px;
  height: 80vh;
  overflow: hidden;
  padding: 20px;
  z-index: 50;
}

/* #toast-box:hover .toast{
  transform: translateX(100%);
} */

.toast{
  width: clamp(100px , 80vw , 400px);
  height: 80px;
  background-color: #181d26;
  color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 15px 0;
  font-weight: 500;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
  position: relative;
  /* transform: translateX(100%); */
  opacity: 0;
  animation: increase_opacity 0.3s linear forwards;
  transition: .5s;
}



@keyframes increase_opacity {
  100%{
    opacity: 1;
  }
}

.toast i{
  margin: 0 20px;
  font-size: 35px;
}

.toast.success i{
  color: var(--success);
}

.toast.warning i{
  color: var(--warning);
}

.toast.error i{
  color: var(--error);
}

.toast i.bx-x{
  color: white;
  transition: .2s;
  cursor: pointer;
  margin-right: 10px;
  margin-left: auto;
}


.toast i.bx-x:hover{
  color: red;
}

.toast::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: green;
  animation: toast_anim 2s linear forwards;
}

@keyframes toast_anim {
  100%{
    width: 0;
    background-color: red;
  }
  50%{
    background-color: yellow;
  }
}