@font-face {font-family: roblox;src: url(../media/font/RollboxMedium-JRxYB.ttf);}
*{box-sizing: border-box;}

body, html
{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: roblox;
}

#login-form
{
  position: fixed; 
  top: 0; 
  left: 0; 
  border: 0; 
  z-index: 7; 
  width: 100%; 
  min-height: 100%; 
  transition: 0.5s;
  display: none;
}

.header
{
  background-color:#000000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  padding: 0;
}

.h{display: inline-block;padding: 10px;font-family: roblox;}
h1 {font-family: roblox;}
.but1{width: 100%;text-align: left;}
.but2{width: 5%;text-align: right; font-size: 20px;}
.but3{width: 5%;text-align: right; font-size: 20px;}

.ddb
{
  background-color:transparent;
  color:#000000;
  border:#ffffff;
  cursor:pointer;
}

.dd
{
  position:relative;
  display:inline-block;
}

.ddc
{
  text-align: center;
  display:none;
  position:absolute;
  background-color:#000000;
  min-width:120px;
  z-index:4;
}

.ddc a
{
  text-align: center;
  display:block;
  background-color:#000000;
  color:#000000;
  padding: 10px 15px;
  text-decoration: none;
}

.ddc a:hover {background-color:#00daff;}

.show {display:block;}





ul
{
  list-style-type:none;
  display:flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.dropdown{
    display: none;
}

.bx
{
  display: flex;
  font-size: 50px;
  width: auto;
}

#chat-bubble-toggle{
  position: fixed;
  width: 5%;
  right: 1vw;
  bottom: 10px;
  transition: 1s;
  cursor: pointer;
}
#chat-bubble-toggle:hover{
  width: 7%;
}

#chat-bubble{
  display: block;
  position: fixed; 
  bottom: 10px; 
  left: 100%;
  border: cyan solid 3px; 
  z-index: 10; 
  width: 25vw; 
  height: 70vh;
  transition: 1s;
  border-radius: 10px;
}

#right-button{
  width: 50%;
  display: inline-block;
  text-align: right;
  margin: 0;
}



#left-button{
  width: 49%;
  display: inline-block;
  text-align: left;
  margin: 0;

}
