/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root {
    --dark: #34495E;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
}

#toast-box{
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    align-self: flex-start;
    flex-direction: column-reverse;
    overflow: hidden;
    padding: 20px;
    z-index: 50;
}


.toast{
    width: clamp(100px , 80vw , 400px);
    height: 80px;
    background-color: #181d26;
    color: white;
    margin: 15px 0;
    font-weight: 500;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: move_left 0.3s linear forwards;
    transition: .5s;
}


@keyframes move_left {
    100%{
        transform: translateX(0);
    }
}

.toast i{
    margin: 0 20px;
    font-size: 35px;
}

.toast.success i{
    color: var(--success);
}

.toast.warning i{
    color: var(--warning);
}

.toast.error i{
    color: var(--error);
}

.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: green;
    animation: toast_anim 5s linear forwards;
}

@keyframes toast_anim {
    100%{
        width: 0;
        background-color: red;
    }
    50%{
        background-color: yellow;
    }
}