body {overflow-x: hidden;background-color: #0a1e31;background-repeat:repeat;background-size:cover;}


.product
{
    display: flex;


}

.productheader{
    text-align: center;
}

.products{
    width: 100%;
    margin: auto;
    color: #ffffff;
}

.productheader
{
    color: #ffffff;
    padding: 8%;
    width: 100vw;
}

.product
{
    background-color: #000000;
    width: 100%;
    margin: 5%;
    border: 10px solid #00fff7;
}

.bigproduct
{
    width: 500px;
    text-align: center;
    flex-grow: 2;
}

.product img
{
    width: 100%;
    height: auto;
}

.bigproduct img
{
    width: 50%;
    height: auto;
}

.productimage, .producttxt
{
    cursor: pointer;
    margin: 10px;
}

.products p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}




.product-table{
    width: 100%;
}

.left-column{
    width: 50%; 
    padding-left: 100px
}

.right-column{
    width: 50%; 
    padding-left: 100px
}

.room-id{
    transition: 0.5s;
    width: 90%;
    padding: 15px;
    margin: 5px 30px 22px 0;
    display: inline-block;
    background: #0a1e31;
    color: #bcbcbc;
    border: none;
    border-bottom: 2px solid #ffffff;
}

.room-id:focus{
    background-color: #0a1e31;
    outline: none;
    border-bottom: 2px solid #00fff7;
}

.playbutton a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }